.intro {
    background: url('https://template58838.motopreview.com/mt-demo/58800/58838/mt-content/uploads/2016/06/mt-471_home-banner-1.jpg');
    height: 480px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}