.wedding {
    background: url(https://template58838.motopreview.com/mt-demo/58800/58838/mt-content/uploads/2016/06/mt-471_home-parallax.jpg);
    width: 100%;
    height: auto;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.wedding h2 {
    font-size: 50px;
    font-family: Comfortaa;
}

.wedding p {
    font-family: 'Nunito';
    font-size: 20px;
    font-family: 'PT sans', sans-serif;
}