.search {
    justify-content: center;
    margin-right: 0px;
}

.search input{
    border: none;
    height: 34px;
    padding: 1px 10px 1px 10px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0 2px 2 px 0;
    margin: 5px 5px 0 0px
}

.search:before {
    font-family: FontAwesome;
    font-size: 22px;
    content: "\f002";
}